<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
<title>NGlycositeAtlas.biomarkercenter.org</title>
<meta name="robots" content="noindex, nofollow" charset="UTF-8">
<!-- Include CSS File Here -->
<link rel="stylesheet" href="http://yhu39.bitbucket.org/glycositedb/css/style.css"/>
<!-- Include CSS File Here -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="http://yhu39.bitbucket.org/glycositedb/js/login.js"></script>
</head>
<body>
<div class="container">
<div class="main">
<form class="form" method="post" action="#">
<h2>Welcome to visit N-GlycositeAtlas!</h2>
<label>Email :</label>
<input type="text" name="demail" id="email">
<label>Password :</label>
<input type="password" name="password" id="password">
<input type="button" name="login" id="login" value="Login">
</form>
</div>
</div>
</body>
</html>