{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "GlycositeAtlas:Publication" %}{% endblock %}
{% block content %}
<div class="row">
		<div class="col-md-12">
			<div class="panel-group" id="panel-215110">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-215110" href="#panel-element-275571">Publication #1</a>
					</div>
					<div id="panel-element-275571" class="panel-collapse collapse in">
						<div class="panel-body">
							Abstract:
								1234
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-215110" href="#panel-element-58456">Publication #2</a>
					</div>
					<div id="panel-element-58456" class="panel-collapse collapse">
						<div class="panel-body">
							Abstract:
								1234
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}
