{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "GlycositeAtlas:ContactUs" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10   ">
        <table class="table">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Authors
                </th>
                <th>
                    Email
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    <a href="https://scholar.google.com/citations?user=gmZRSRIAAAAJ&hl=en">Dr.Shisheng Sun</a>
                </td>
                <td>
                    ssun12@jhmi.edu
                </td>
                <td>

                </td>
            </tr>
            <tr >
                <td>
                    2
                </td>
                <td>
                    <a href="https://scholar.google.com/citations?user=5JqneaQAAAAJ&hl=en&oi=ao">Dr.Yingwei Hu</a>
                </td>
                <td>
                    yhu39@jhmi.edu
                </td>
                <td>

                </td>
            </tr>



            <tr >
                <td>
                    3
                </td>
                <td>
                  <a href="https://scholar.google.com/citations?user=ununaGsAAAAJ&hl=en">Dr.Hui Zhang</a>
                </td>
                <td>
                    hzhang32@jhmi.edu
                </td>


            </tr>
            <!--<tr >-->
            <!--<td>-->
            <!--3-->
            <!--</td>-->
            <!--<td>-->
            <!--TB - Monthly-->
            <!--</td>-->
            <!--<td>-->
            <!--03/04/2012-->
            <!--</td>-->
            <!--<td>-->
            <!--Pending-->
            <!--</td>-->
            <!--</tr>                      -->
            <!--<tr class="danger">-->
            <!--<td>-->
            <!--4-->
            <!--</td>-->
            <!--<td>-->
            <!--TB - Monthly-->
            <!--</td>-->
            <!--<td>-->
            <!--04/04/2012-->
            <!--</td>-->
            <!--<td>-->
            <!--Call in to confirm-->
            <!--</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <address>
            <strong>Lab Address</strong><br/>
            400 N. Broadway
            Smith Building, Room 4011
            <br/> Baltimore, MD 21287<br/> <abbr title="Phone">P:</abbr> (410) 502-8149
            <br> <strong>Website</strong>
            <br> <a href="http://www.biomarkercenter.org">www.biomarkercenter.org</a>
        </address>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}